<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/category">Category</router-link> |
      <router-link to="/chapter">Chapter</router-link> |
      <router-link to="/section">Section</router-link> |
      <router-link to="/content">Content</router-link> |
    </div> -->
    <page-header></page-header>
    <breadcrumbs></breadcrumbs>
    <router-view/>
    <page-footer></page-footer>
  </div>
</template>

<script>
import PageHeader from '@/components/PageHeader.vue'
import PageFooter from '@/components/PageFooter.vue'

export default {
  name: 'app',
  components: {
    'page-header': PageHeader,
    'page-footer': PageFooter,
  },
  mounted() {
    console.log('base url', process.env.BASE_URL);
  }
}
</script>