<template>
  <div class="home">
      <div class="grid-item illustration">
        <img alt="Vue logo" src="../assets/img/icon-pen.svg">
      </div>
      <div class="grid-item text-container">
        <h2>Velkommen til fagnettstedet til Grafisk design!</h2>
        <p>Her vil du blant annet finne undervisningsfilmer om produksjon for trykk og trykkeprosessen, korte fagartikler, spennende prosjektoppgaver og test-deg-selv-oppgaver for viktig teori.</p>
        <h2>Siden lanseres sommeren 2019</h2>
        <p>For å vite mer om Grafisk design, kan du følge denne lenken: www.fagbokforlaget.no/nyhetsbrev eller sende en e-post til: 
          <a href="mailto:post@fagbokforlaget.no">post@fagbokforlaget.no</a>
        </p>
        <p>Du kan også følge oss på facebook: 
          <a href="https://www.facebook.com/fagbokforlaget.vgs/" target="_blank">https://www.facebook.com/fagbokforlaget.vgs/</a>
        </p>
      </div>
  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'home',
  components: {

  }
}
</script>
