<template>
    <header class="c-topbar" id="topbar" v-bind:class="{'js-toggled': isToggled}">
    <div class="c-topbar__container">
      <div class="c-topbar__logo">
        <router-link class="c-topbar__link c-topbar__link--strong" to="/">
          <img src="../assets/img/logo.svg">
        </router-link>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'PageHeader',
}
</script>