@import "header";
@import "footer";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

* {
  box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
}
h2 {
  color: #E52A43;
}
a {
  color: white;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #E52A43;
  }
}

p {
    overflow: hidden;
    max-width: 75ch;
    line-height: 1.7;
    letter-spacing: 0.5px;
  }

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    background: #001027;
    color: white;
    #app {
        min-height: inherit;
        height: inherit;
        .home {
          display: grid;
            min-height: inherit;
            grid-template-columns: 25% 75%;
            padding: 0 2rem 2rem;
            .illustration {
              text-align: right;
              padding: 1rem 2rem;
              border-right: 1px solid white;
            }
            .text-container {
              padding-left: 2rem;
              grid-column-start: 2;
              max-width: 65ch;
            }
        }
    }
}

section {
    .header-container {
        width: 8rem;
        margin: 1rem auto;
        img {
            width: 100%;
        }
    }
    picture {
        max-width: 34rem;
        display: block;
        margin: 0 auto;
        img {
            width: 100%;
            border-radius: 4rem;
        }
    }
    .text-container {
        padding: 0 1em;
        .text-container__link {
            color: #00e;
            font-weight: 700;
        }
    }
}