<template>
  <div id="app">
    <page-header></page-header>
    <home/>
    <page-footer></page-footer>
  </div>
</template>

<script>
import PageHeader from '@/components/PageHeader.vue'
import PageFooter from '@/components/PageFooter.vue'
import Home from '@/views/Home.vue'

export default {
  name: 'app',
  components: {
    'page-header': PageHeader,
    'page-footer': PageFooter,
    'home': Home,
  },
  mounted() {
    console.log('base url', process.env.BASE_URL);
  }
}
</script>